body{
    margin: 0;
    padding: 0;
}
/* селектор устанавливает отступы от границы окна и внутренние отступы */
div{
    height: 100px;
    width: 200px;
    background-color: red;
    margin: 10px 10px 10px 10px;
}
/* селектор устаналивает значение высоты элемента как 100, ширину элемента как 200, красный фон и внешние отступы по 10 */
div#d2 {
    background-color: green;
}
/* селектор устанавливает цвет фона div под индексом d2 зеленым */
.first {
    background-color: blue;
}
/* селектор устанавливает цвет фона всех элементов данного класса синим */
ul li {
    color: seagreen;
}
/* селектор перекрашивает в зеленый текст li, у которого предок это ul */
strong > ins {
    font-size: larger;
} 
/* дочерний селектор делает размер текста в ins больше, чем у предка */